# Data Structures
- list
- Dictionary
- tuple
- sets

# Mutability
 - mutable that can be chaned 
 - immutable that cannot be changed
 
### python strings are immutable

In [7]:
string = "python data structures"

In [8]:
string[2]

't'

In [9]:
string[2] = z

NameError: name 'z' is not defined

In [10]:
a = "hello"

In [11]:
print(a)

hello

In [12]:
a ="hi"

In [13]:
print(a)

hi


# List

- collection of items
- list are mutable
- can have mixed datatypes
- list can contain other list within

In [14]:
# creating new list
list1 = []

In [15]:
list1

[]

In [16]:
len(list1)

0

#### Appending new item in the list

In [17]:
list1.append(1)

In [18]:
list1.append(2)

In [19]:
list1

[1, 2]

In [20]:
list1.append([3,4,5,6,6,6])

In [208]:
list1

[1, 2, [3, 4, 5, 6, 6, 6]]

In [218]:
len(list1)

3

In [220]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [224]:
print(min(l))
print(max(l))
print(len(l))

0
9
10

In [225]:
l[3]

3

In [226]:
l[4] = 100

In [227]:
l

[0, 1, 2, 3, 100, 5, 6, 7, 8, 9]

In [230]:
3 in l

True

In [231]:
500 in l

False

In [233]:
200 not in l

True

In [236]:
for i in l:
    print(i)

0
1
2
3
100
5
6
7
8
9

In [251]:
l.extend(range(20))## extend list

In [253]:
print(l)

[0, 1, 2, 3, 100, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [22]:
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
newlst = []

In [4]:
newlst.append(2)

In [5]:
newlst.append([3,4])

In [6]:
newlst

[2, [3, 4]]

In [32]:
newlst.append?

In [25]:
newlst.extend(['this','is','a string'])

In [26]:
newlst

[2, [3, 4], 'this', 'is', 'a string']

In [27]:
newlst.extend(['string','and',122])# take only iterables

In [28]:
newlst

[2, [3, 4], 'this', 'is', 'a string', 'string', 'and', 122]

In [29]:
newlst.extend(12222)

TypeError: 'int' object is not iterable

In [39]:
newlst.extend([1212,1213])

In [36]:
newlst

[2, [3, 4], 'this', 'is', 'a string', 'string', 'and', 122, 1212, 1213]

In [42]:
newlst

[2, [3, 4], 'this', 'is', 'a string', 'string', 'and', 122, 1212, 1213]

In [43]:
newlst.pop()# delete last item from list

1213

In [44]:
newlst

[2, [3, 4], 'this', 'is', 'a string', 'string', 'and', 122, 1212]

In [45]:
newlst.pop(2)## delete 2 index from list

'this'

In [47]:
newlst

[2, [3, 4], 'is', 'a string', 'string', 'and', 122, 1212]

In [48]:
newlst.remove('is')## remove the item from the list if we know the item name

In [49]:
newlst

[2, [3, 4], 'a string', 'string', 'and', 122, 1212]

In [50]:
newlst.extend['java','python','php','c','c++','ruby']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [51]:
newlst.extend(['java','python','php','c','c++','ruby'])

In [52]:
newlst

[2,
 [3, 4],
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++',
 'ruby']

In [53]:
newlst.remove('ruby')

In [54]:
newlst

[2,
 [3, 4],
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++']

In [56]:
newlst.clear()## clear all the item from least

In [57]:
newlst

[]

In [58]:
newlst1= [2, [3, 4], 'a string', 'string', 'and', 122, 1212, 'java', 'python', 'php', 'c', 'c++']

In [59]:
newlst1

[2,
 [3, 4],
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++']

In [64]:
newlst1.extend('hello')

In [65]:
newlst1

[2,
 [3, 4],
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++',
 'h',
 'e',
 'l',
 'l',
 'o']

In [66]:
newlst1[2:13] ## slicing list

['a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++',
 'h']

In [67]:
newlst1

[2,
 [3, 4],
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++',
 'h',
 'e',
 'l',
 'l',
 'o']

In [72]:
newlst1.count('l')## count item in the list

2

In [75]:
newlst1.index('o')# return index position of an item from the list

16

In [79]:
newlst1.index(2)

0

In [80]:
newlst1.index('l')## retrun the index of first if same item are more than one in the list

14

In [81]:
newlst1

[2,
 [3, 4],
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++',
 'h',
 'e',
 'l',
 'l',
 'o']

In [84]:
newlst1.insert(2,"dotnet")# insert a new item in desired position

In [85]:
newlst1

[2,
 [3, 4],
 'dotnet',
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++',
 'h',
 'e',
 'l',
 'l',
 'o']

In [91]:
newlst1.reverse()##reverse the list

In [92]:
newlst1

['o',
 'l',
 'l',
 'e',
 'h',
 'c++',
 'c',
 'php',
 'python',
 'java',
 1212,
 122,
 'and',
 'string',
 'a string',
 'dotnet',
 [3, 4],
 2]

In [96]:
newlst1.reverse()

In [97]:
newlst1

[2,
 [3, 4],
 'dotnet',
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++',
 'h',
 'e',
 'l',
 'l',
 'o']

In [98]:
newlst1.copy()

[2,
 [3, 4],
 'dotnet',
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++',
 'h',
 'e',
 'l',
 'l',
 'o']

In [104]:
lst2= newlst1.copy()

In [107]:
lst2

[2,
 [3, 4],
 'dotnet',
 'a string',
 'string',
 'and',
 122,
 1212,
 'java',
 'python',
 'php',
 'c',
 'c++',
 'h',
 'e',
 'l',
 'l',
 'o']

In [109]:
lst2.sort()

TypeError: must use keyword argument for key function

In [110]:
alist = [1,2,4,6,3,2,8,3,2,10,11,50,23]## sorting interge list

In [111]:
alist.sort()

In [112]:
alist

[1, 2, 2, 2, 3, 3, 4, 6, 8, 10, 11, 23, 50]

In [116]:
alist2= ['a','c','t','d']

In [117]:
alist2.sort()

In [118]:
alist2

['a', 'c', 'd', 't']

In [127]:
alist3= ['a','c','t','d','4']
alist3

['a', 'c', 't', 'd', '4']

In [128]:
alist3.sort()

In [129]:
alist3

['4', 'a', 'c', 'd', 't']

In [145]:
alist3= ['a','copy','t','d','4','This is test']
alist3

['a', 'copy', 't', 'd', '4', 'This is test']

In [146]:
alist3.sort()

In [147]:
alist3

['4', 'This is test', 'a', 'copy', 'd', 't']

In [142]:
alist4= ['a','copy','t','d','4','This is test',6]
alist4

['a', 'copy', 't', 'd', '4', 'This is test', 6]

In [148]:
alist4.sort()

TypeError: unorderable types: int() < str()

# Tuple

- unmutable

In [159]:
tup = (1,)## if only one itme comma is needed
tup

(1,)

In [160]:
(4)

4

In [150]:
type(tup)

tuple

In [151]:
tup1 = (1,2,4,5,6,7,32,4,)

In [153]:
type(tup1)

tuple

In [154]:
tup2 = (1,2,4,5,6,7,32,4)

In [155]:
type(tup2)

tuple

In [156]:
tup2[0]

1

In [205]:
tup2[2]

4

In [206]:
min(tup2)

1

In [207]:
max(tup2)

32

In [168]:
dir(tup2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [178]:
tup2

(1, 2, 4, 5, 6, 7, 32, 4)

In [179]:
tup2.count(2)## count item in tuple

1

In [180]:
tup2.index(2)

1

In [181]:
len(tup2)

8

In [198]:
tuple1 = (1,3,4,5)
tuple2 = (2,4,5,6)
tuple3 = tuple1 + tuple2
tuple3

(1, 3, 4, 5, 2, 4, 5, 6)

In [199]:
type(tuple3)

tuple

In [201]:
tuple3[1]

3

In [204]:
tuple3[-1]## last itemt

6

In [217]:
tuple4 = tuple(range(25))
print(tuple4)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24)

In [239]:
4 in tuple4

True

In [241]:
100 in tuple4

False

In [242]:
300 not in tuple4

True

In [243]:
len(tuple4)

25

In [244]:
min(tuple4)

0

In [245]:
max(tuple4)

24

In [248]:
for i in tuple4:    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

AttributeError: 'tuple' object has no attribute 'extend'

# Dictionary

- (key: value)

In [255]:
# key: value
dct = {}## empty dct

In [256]:
type(dct)

dict

In [258]:
dct = {'country':'nepal','zone':'bagmati','district':'bhaktapur'} ## using key value
dct

{'country': 'nepal', 'district': 'bhaktapur', 'zone': 'bagmati'}

In [262]:
dct1= dict(fname='john',lname='paul',address='london',country='uk') ## using constructor named parameter
dct1

{'address': 'london', 'country': 'uk', 'fname': 'john', 'lname': 'paul'}

In [288]:
dct2 = dict(one=1,two=2,three=3,four='5')
dct2

{'four': '5', 'one': 1, 'three': 3, 'two': 2}

In [289]:
dir(dct2)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [355]:
dct3 = dict(five=5,six=6,seven='7', **dct2)
print(dct3)

{'one': 1, 'four': '5', 'five': 5, 'seven': '7', 'six': 6, 'two': 2, 'three': 3}

In [281]:
'four' in dct3

True

In [283]:
'ten' in dct3

False

In [285]:
'hundred' not in dct3

True

In [292]:
for n in dct3:print(n) ## give the keys of the dictionary

one
four
five
seven
six
two
three

In [294]:
for k,v in dct3.items():print(k,'=',v)## loop through key value

one = 1
four = 5
five = 5
seven = 7
six = 6
two = 2
three = 3

In [340]:
dct3['one']

1

In [341]:
dct3['hundred']## better use get

KeyError: 'hundred'

In [338]:
dct3.get('one')

1

In [337]:
dct3.get('hundred')

In [304]:
dct3.get('hundred','default') ## get default value if key doesn't exist

'default'

In [305]:
dct3.keys()

dict_keys(['one', 'four', 'five', 'seven', 'six', 'two', 'three'])

In [306]:
dct3.values()

dict_values([1, '5', 5, '7', 6, 2, 3])

In [307]:
dct3.items()## return key and value in tuple

dict_items([('one', 1), ('four', '5'), ('five', 5), ('seven', '7'), ('six', 6), ('two', 2), ('three', 3)])

In [323]:
dt = dct3.items()
for t in dt:
    print(t)## return tuple of key and value
       
type(t)

('one', 1)
('four', '5')
('five', 5)
('seven', '7')
('six', 6)
('two', 2)
('three', 3)

tuple

In [325]:
ld = dct3.keys()
ld

dict_keys(['one', 'four', 'five', 'seven', 'six', 'two', 'three'])

In [326]:
list(ld)## convert keys into list

['one', 'four', 'five', 'seven', 'six', 'two', 'three']

In [327]:
tuple(ld)## convert keys into tuple

('one', 'four', 'five', 'seven', 'six', 'two', 'three')

In [343]:
dict([('a','apfha'),('b','beta')])

{'a': 'apfha', 'b': 'beta'}

In [357]:
dct3

{'five': 5,
 'four': '5',
 'one': 1,
 'seven': '7',
 'six': 6,
 'three': 3,
 'two': 2}

In [352]:
dct3.pop()## need to pass key, doesn't work like in list and tuple

TypeError: pop expected at least 1 arguments, got 0

In [358]:
dct3.pop('two')## remove key two and its value

2

In [359]:
dct3

{'five': 5, 'four': '5', 'one': 1, 'seven': '7', 'six': 6, 'three': 3}

In [361]:
del dct3['three']## remove key three and its value

In [362]:
dct3

{'five': 5, 'four': '5', 'one': 1, 'seven': '7', 'six': 6}

In [366]:
dct3.update(five=100)

In [367]:
dct3

{'five': 100, 'four': '5', 'one': 1, 'seven': '7', 'six': 6}

## need to try other methods of dictionary

# Sets

In [370]:
set()

set()

In [372]:
{1,3,4,5,6,7}

{1, 3, 4, 5, 6, 7}

In [373]:
st = {1,3,4,5,6,7}

In [374]:
type(st)

set

In [378]:
st

{1, 3, 4, 5, 6, 7}

In [379]:
dir(st)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [383]:
st1={1,2,3,4}
st2 = {4,5,6,7,8}
st1.union(st2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [384]:
st1.intersection(st2)

{4}

In [385]:
st3 = {1,2,3}
st4 = {1,2,3,4,5,6}
st1.issubset(st4)

True

# Fractions

In [388]:
# module import
from fractions import Fraction

In [394]:
Fraction(2,3)

Fraction(2, 3)

In [395]:
Fraction(3,3)

Fraction(1, 1)

In [392]:
Fraction(1,3) + Fraction(4,3)

Fraction(5, 3)

In [397]:
f = Fraction(4,9)
f

Fraction(4, 9)

In [398]:
dir(f)

['__abs__',
 '__abstractmethods__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__complex__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '_abc_cache',
 '_abc_negative_cache',
 '_abc_negative_cache_version',
 '_abc_registry',
 '_add',
 '_denominator',
 '_div',
 '_mul',
 '_numerator',
 '_operator_fallbacks',
 '_richcmp',
 '_sub',
 'conjugate',
 'denominator',
 'from_decimal',
 'from_float',
 'imag',
 'limit_denominator',
 'numerator',
 'real']

#  List Comprehension

In [2]:
range(0,5)

range(0, 5)

In [400]:
l = []
for i in range(1,25):
    if i%2 ==0:
        l.append(i)
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [402]:
[ i for i in range(1,26) if i %2 ==0] # first for loop then, if condition then values

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [407]:
[i if i%2 ==0 else 0 for i in range(26)]

[0,
 0,
 2,
 0,
 4,
 0,
 6,
 0,
 8,
 0,
 10,
 0,
 12,
 0,
 14,
 0,
 16,
 0,
 18,
 0,
 20,
 0,
 22,
 0,
 24,
 0]

In [409]:
## nested example
[y for x in ['london','new york'] for y in x if x == 'london']

['l', 'o', 'n', 'd', 'o', 'n']

# Dictionary Comprehension

In [412]:
{i: i**2 for i in range(1,20)}

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361}

# Set comprehension

In [1]:
{i for i in range(1,6)}

{1, 2, 3, 4, 5}

# Tuple comprehension ?? Generator Syntax

In [415]:
(i for i in range(1,7))