# Loops and Conditionals

### looping through list

In [106]:
for add in ['kathmandu','bhaktapur', 'lalitpur']:
    print(add)

kathmandu
bhaktapur
lalitpur

In [107]:
for item in ['one','two','three','four','five']:
    print('Itme ', ['one','two','three','four','five'].index(item)+1 ,'is {}'.format(item))

Itme  1 is one
Itme  2 is two
Itme  3 is three
Itme  4 is four
Itme  5 is five

### Looping through tuple

In [108]:
for lang in ('java','python','php','c'):
    print(lang)

java
python
php
c

In [25]:
for lang in ('java','python','php','c'):
    print(('java','python','php','c').index(lang)+1,'is',lang)

1 is java
2 is python
3 is php
4 is c

### Looping through dictionary-by keys

In [143]:
dct = {'name':'john','age':21,'profession':'Python programmer','address':('333 London road','London','UK')}
dct

{'address': ('333 London road', 'London', 'UK'),
 'age': 21,
 'name': 'john',
 'profession': 'Python programmer'}

In [144]:
for item in dct:## by default keys are printed 
    print(item)

name
profession
address
age

In [146]:
dct.keys()

dict_keys(['name', 'profession', 'address', 'age'])

In [145]:
for key in dct.keys():## looping through keys in dictionary
    print(key)

name
profession
address
age

In [147]:
dct.values()

dict_values(['john', 'Python programmer', ('333 London road', 'London', 'UK'), 21])

In [148]:
for value in dct.values():    
    print(value)

john
Python programmer
('333 London road', 'London', 'UK')
21

In [149]:
for value in dct.values():
    print(value)

john
Python programmer
('333 London road', 'London', 'UK')
21

In [150]:
dct['name']

'john'

In [117]:
for item in dct:
    print('{} has value : {}'.format(item,dct[item]))

name has value : john
profession has value : Python programmer
address has value : ('333 London road', 'London', 'UK')
age has value : 21

In [118]:
dct

{'address': ('333 London road', 'London', 'UK'),
 'age': 21,
 'name': 'john',
 'profession': 'Python programmer'}

## tuple unpacking , variable assignment

In [119]:
i = 10
j= 20
k='thirty'
print(i,j,k)

10 20 thirty

In [64]:
i,j,k= 10,20,'thirty'
print(i,j,k)

10 20 thirty

In [69]:
a,b,c = (5,10,'fifteen')

In [67]:
a

5

In [70]:
b

10

In [71]:
c

'fifteen'

In [151]:
dct.items()## dictionary of tuple

dict_items([('name', 'john'), ('profession', 'Python programmer'), ('address', ('333 London road', 'London', 'UK')), ('age', 21)])

In [152]:
for item in dct.items():# looping through tuple inside dictionary
    print(item)

('name', 'john')
('profession', 'Python programmer')
('address', ('333 London road', 'London', 'UK'))
('age', 21)

In [122]:
for key,value in dct.items():
    print('Key {} has value {}.'.format(key,value))

Key name has value john.
Key profession has value Python programmer.
Key address has value ('333 London road', 'London', 'UK').
Key age has value 21.

In [153]:
person1 = dct
person1

{'address': ('333 London road', 'London', 'UK'),
 'age': 21,
 'name': 'john',
 'profession': 'Python programmer'}

In [130]:
dir(person1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [166]:
person1.update(address=(('33 London Road , London, UK'),('45 New York Road, New York,US')))## add tuple

In [167]:
person1

{'address': ('33 London Road , London, UK', '45 New York Road, New York,US'),
 'age': 21,
 'name': 'john',
 'profession': 'Python programmer'}

In [171]:
for key,value in person1.items():
    print('Key {} has value {}.'.format(key,value))

Key name has value john.
Key profession has value Python programmer.
Key address has value ('33 London Road , London, UK', '45 New York Road, New York,US').
Key age has value 21.

In [176]:
add = person1['address']## tuple extract from dictionary
add

('33 London Road , London, UK', '45 New York Road, New York,US')

In [179]:
type(add)

tuple

In [189]:
for a in add:
    print(a)
    print(type(a))
    print(len(a))

33 London Road , London, UK
<class 'str'>
27
45 New York Road, New York,US
<class 'str'>
29

# Ranges

In [192]:
range(0,25)

range(0, 25)

In [204]:
lst = tuple(range(25))

In [205]:
print(lst)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24)

In [207]:
for i in range(0,9):
    print(i)

0
1
2
3
4
5
6
7
8

In [218]:
for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

# While Loop

In [4]:
a = 0
a = a +1
a

1

In [5]:
a +=1
a

2

In [7]:
a = 0
while a < 3:
    print(a)
    a +=1

0
1
2

# Conditionals

In [9]:
[] == True

False

In [11]:
'' == True

False

In [13]:
0 == True

False

In [21]:
if '':
    print('true, Some string')
else:
    print('false,empty String')

false,empty String

In [22]:
if ' ':
    print('true, Some string')
else:
    print('false,empty String')

true, Some string

In [29]:
if a < 3:
    print('a is less than 3')
elif a == 3:
    print('a is equal to 3')
else:
    print('a is greater than 3')

a is equal to 3

In [31]:
a < 3 and a ==3

False

In [32]:
a < 3 or a == 3

True

In [33]:
a <=3

True

In [34]:
a >=3

True

In [35]:
a

3

In [37]:
3 <= a <9

True

In [16]:
a = 0
while a <9:
    print(a)
    if a == 3:
        break;
    a +=1

0
1
2
3

In [17]:
a = 0 
while a < 9:
    a +=1
    print(a)

1
2
3
4
5
6
7
8
9

In [36]:
a = 0 
while a < 9:
    a +=1
    if 4 < a <6:
        continue
    print(a)

1
2
3
4
6
7
8
9

In [14]:
a = 0 
while a < 9:
    print(a)
    a +=1

0
1
2
3
4
5
6
7
8

In [3]:
emp = dict(name='hari',age=30,address='kathmandu')

In [8]:
for emp in emp:
    print(emp)

e

In [9]:
[em for em in emp]

['e']

In [7]:
dir(emp)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
type(emp)

str

In [33]:
a = 0
while a < 0
    a +=1

SyntaxError: invalid syntax (<ipython-input-33-7bf52369dc96>, line 2)

In [11]:
[ i if i % 5 == 0 else 0 for i in range(1,26)]

[0, 0, 0, 0, 5, 0, 0, 0, 0, 10, 0, 0, 0, 0, 15, 0, 0, 0, 0, 20, 0, 0, 0, 0, 25]

In [25]:
def hello(a, b):
    return a * b

In [26]:
h = hello('hello' , 10)

In [14]:
h

'hellohellohellohellohellohellohellohellohellohello'

In [32]:
num1 = input("Enter First Numer")
num2 = input("Enter second Number")

print("Sum of two numbers is",int(num1) + int(num2))

Enter First Numer1
Enter second Number2
Sum of two numbers is 3